defaults:
  - _self_
  - override hydra/hydra_logging: disabled
  - override hydra/job_logging: disabled

hydra:
  output_subdir: null
  run:
    dir: .

model_store_path: logs/2024-05-03/22-08-03
classifier_path: logs/classifier/2024-05-04/10-56-58
log_wandb: True

num_runs: 50
n_inference_steps: 3
sigma_min: 0.001
sigma_max: 80
cond_lambda: 2e-3
device: cuda

# chose what to evaluate
test_rollout: False
test_timestep_mse: False
test_total_mse: False
test_observation_error: False
visualize x-y trajectory: False
test_cond_lambda: True
